{% extends "AppCorreccion/base.html" %}
{% load static %}
{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AppCorreccion/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">¡Todas las materias!</span>
            <span class="section-heading-lower">Podemos ayudarte con todas las asignaturas que necesitas reforzar</span>
          </h2>
          <p class="mb-3">Contamos con los mejores profes para acompañarte
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Mariana Cohen</span>
                <span class="section-heading-lower">Sistema de gestión de clases particulares</span>
              </h2>
              <p class="mb-0">En el presente programa se busca facilitar la gestion de clases, permitiendo su creación, almacenamiento, eliminación y búsqueda.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}