{% extends 'AppCorreccion/base.html' %}

{% load static %}

{% block content %}
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">CLASES </h1>
                            <p class="lead text-white-50 mb-4">La lista de clases buscadas</p>
                            <a href="{% url 'mostrar_clases' %}" type="button" class="btn btn-light" style="color:black; margin: 20px auto; font-family: 'Raleway'; font-size: 20px; font-weight: bold" >Volver</a>
                        </div>
                    </div>
                </div> 
            </div>
        </header>


        {% for clase in clases %}
        
        
        
        <div class="card text-white bg-secondary mb-3" style="width: 40rem; margin-left: 20rem;">
            <div class="card-header">Clase: {{ clase.nombre }}</div>
            
            <a href="{% url 'eliminar_clase' clase.id %}" type="button" class="btn btn-light">Eliminar</a>
            <a href="{% url 'clase_detalle' clase.id %}" type="button" class="btn btn-light">Detalle</a>
          </div>

        {% endfor %}

{% endblock %}