{% extends 'AppCorreccion/base.html' %}

{% load static %}


{% block content %}

<!-- Heading -->
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AppCorreccion/img/principal.jpg' %}" alt="">
        <div class="intro-text text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">
                <form action="" method="POST"> 
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-secondary btn-lg">iniciar Sesion</button>
                </form>
            </span>
          </h2> 
          
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}

