{% extends "AppCorreccion/base.html" %}

{% load static %}

{% block content %} 


<p style= "font-family:'Raleway', sans-serif; text-transform: uppercase; color: black; font-size: 18px; font-weight: bold; text-align: center; margin: 20;">Somos un conjunto de profesionales de diferentes áreas con vocación por la docencia. En esta plataforma, vas a encontrar acceso a distintas clases dictadas por: Biólogas, Matemáticos, Arquitectas, Profesionales de la salud, Geógrafos, Historiadoras, entre otros. Contamos con las correspondientes certificaciones pedagógicas, ¡estamos acá para ayudarte!. Podes elegir entre tomar clases individuales o grupales, según tu conveniencia y preferencia. Además, vas a enconrar clases para todos los niveles. </p>
<p style= "font-family:'Raleway', sans-serif; text-transform: uppercase; color: black; font-size: 18px; font-weight: bold; text-align: center; margin: 20;">Cualquier consulta podés contactarnos por los siguientes medios: </p>
<p style= "font-family:'Raleway', sans-serif; text-transform: uppercase; color: black; font-size: 22px; margin: 20px; font-weight: bold; text-align: center;">Teléfono: +54 223 123456 </p>
<p style= "font-family:'Raleway', sans-serif; text-transform: uppercase; color: black; font-size: 22px; margin: 20px; font-weight: bold; text-align: center;"> E-mail: tusclasesparticulares@gmail.com </p>




{% endblock %} 